#logo{
    height:80px;
 
    margin-top: 40px;
text-align: center; 
margin-left: 70px;  

} 
.body{
    background-image: url(../Css/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.side{
    height: 100vh;
    width: 350px;
    background-color: #ffffff6c;
   opacity: 0.9;
text-align: center;
}
.MuiFormLabel-root.Mui-focused {
    color: rgb(0, 0, 0)!important;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color:rgb(12, 12, 12) !important;
  }
  .acnt{
      color: black;
  }
  .already_have_acnt{
      position: fixed;
    bottom: 50px;
    left: 50px;
  }
  .lable_clss{
     margin: 3;
     color: 'black';
   
     font-Size: 16 ;
  }
  .error_mgs {
      color: #ff0000;
  }
  .border_clr{
    color: #ff0000;
  }