
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > button {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .input_clss{
    width: 341px;
    height: 50px;
    font-weight: bold;
    font-size: 35px;
  }
  .cal_clss{
      font-size: 10px;
  }